<h1>Add dose for <%= @cocktail.name %> </h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient, collection: Ingredient.all %>
<%= f.input :description %>
<%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Back to cocktails", cocktails_path %>
